@each $key, $val in $colors {
    .bg-#{$key} {
        background-color: $val;
    }

    @for $i from 1 through 9 {
        .bg-#{$key}-lighten-#{$i} {
            background-color: mix(white, $val, $i * 10%)
        }
        .bg-#{$key}-darken-#{$i} {
            background-color: mix(black, $val, $i * 10%)
        }
    }
}