@each $key, $val in $colors {
    .text-#{$key} {
        color: $val;
    }

    @for $i from 1 through 9 {
        .text-#{$key}-lighten-#{$i} {
            color: mix(white, $val, $i * 10%)
        }
        .text-#{$key}-darken-#{$i} {
            color: mix(black, $val, $i * 10%)
        }
    }
}